
<div class="wrapper">
  <div class="getArticles">
    <button id="featureScraper">Get articles</button>
  </div>
  <section class="featuredArticles">
    <h2>Recently saved articles</h2>
    <ul>

      {{#each articles}}
        <li class="articleCard">
          <h2>{{title}}</h2>
          <span>{{byline}}</span>
          <p>snippet here?...</p>
          <div class="controlbar">
            <button class="removeArticle main" id="{{_id}}">Remove Article</span>
            <button class="addNote" data-id={{_id}}>Add Note</button>
          </div>
        </li>
      {{else}}
        No articles have been saved yet.
      {{/each}}
    </ul>
  </section>
  
</div>