
<div class="wrapper">
  <section class="feature">
    <div class="featureContent"></div>
  </section>
  <section class="featuredArticles">
    <div class="recent">
      <h2>Recently saved articles <a class="viewMore" href="/articles">View All</a></h2>
    </div>
    <ul class="cards">
      {{#each articles}}
        <li class="articleCard">
          <a href="{{link}}" target="_blank"><h2>{{title}}</h2></a>
          <span>{{byline}}</span>
          <div class="controlbar">
            {{#if note}}
              <button class="viewNote" data-id={{_id}} data-note={{note}}>
                View Note
              </button>
            {{else}}
              <button class="addNote" data-id={{_id}}>Add Note</button>
            {{/if}}
            <button class="removeArticle main" id="{{_id}}">Remove Article</span>
          </div>
        </li>
      {{else}}
        <span class="noArticles">No articles have been saved yet.</span>
      {{/each}}
    </ul>
  </section>
  
</div>